<template>
  <v-hover v-slot="{ hover }">
    <v-card 
      class="mx-auto transition-swing"
      :elevation="hover ? 12 : 0"
    >
      <v-img
        src="https://cdn.vuetifyjs.com/images/cards/sunshine.jpg"
      ></v-img>

      <v-card-title>
        {{produto.titulo}}
      </v-card-title>

      <v-card-subtitle>
        1,000 miles of wonder
      </v-card-subtitle>

      <v-card-actions
        class="actions"
      >
        <v-btn
          color="primary"
          rounded
          class="white--text"
          :to="`visualizar/${produto.id}`"
        >
          Ver +
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-hover>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { Produto } from "@/models/produto";

@Component({})
export default class Card extends Vue {
  @Prop() produto: Produto;
  show: boolean = false;
}
</script>

<style lang="scss">
.actions {
  display: flex;
  justify-content: center;
}
</style>
