<template>
	<div class="Slider">
		<v-row no-gutters>
			<hooper class="imagem" centerMode>
				<slide v-for="(item, index) of videos" :key="index">
					<youtube fitParent resize :video-id="item.youtubeId" />
				</slide>
				<slide v-for="item of imagens" :key="item.id">
					<v-img :src="`${host}/files/${item.imagem}`" contain max-height="460px"></v-img>
				</slide>
                <hooper-navigation slot="hooper-addons"></hooper-navigation>
			</hooper>
		</v-row>
	</div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';
import { Imagem } from '@/models/imagem';
import { Hooper, Slide, Navigation as HooperNavigation} from 'hooper';
import 'hooper/dist/hooper.css';
import { Video } from '@/models/video';

@Component({
	components: {
		Hooper,
        Slide,
        HooperNavigation
	},
})
export default class Slider extends Vue {
	@Prop() imagens: Imagem[];
	@Prop() videos: Video[];
	host: string = process.env.VUE_APP_URL_API;
}
</script>

<style lang="scss" scoped>
.imagem {
	height: auto;
    width: 100%;
    padding: 0px;
}

::v-deep .hooper-track {
    padding: 0px !important;
}
</style>
