<template>
	<div>
		<v-tabs fixed-tabs background-color="indigo" dark v-model="tab">
			<v-tab>Sobre o Produto</v-tab>
			<v-tab v-if="idProduto">Ficha Técnica</v-tab>
			<v-tab v-if="idProduto">Imagens</v-tab>
			<v-tab v-if="idProduto">Vídeos</v-tab>
			<v-tab v-if="idProduto">Publicação</v-tab>
		</v-tabs>
		<v-tabs-items v-model="tab">
			<v-tab-item>
				<tab-informacoes-gerais :input="produto"></tab-informacoes-gerais>
			</v-tab-item>
			<v-tab-item v-if="idProduto">
				<tab-ficha-tecnica :input="produto"></tab-ficha-tecnica>
			</v-tab-item>
			<v-tab-item v-if="idProduto">
				<tab-imagens :input="produto"></tab-imagens>
			</v-tab-item>
			<v-tab-item v-if="idProduto">
				<tab-videos :input="produto"></tab-videos>
			</v-tab-item>
			<v-tab-item v-if="idProduto">
				<tab-publicacao :input="produto"></tab-publicacao>
			</v-tab-item>
		</v-tabs-items>
	</div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from 'vue-property-decorator';
import { Produto } from '../../models/produto';
import { Validator } from '../../_helpers/validators';
import { GenericModel } from '../../models/genericModel';
import { recursosGenericos } from '../crud-generico/base.config';
import { ProdutoStore } from '@/store/produto.store';

@Component({
	components: {
		TabInformacoesGerais: () => import('./TabInformacoesGerais.vue'),
		TabFichaTecnica: () => import('./TabFichaTecnica.vue'),
		TabImagens: () => import('./TabImagens.vue'),
		TabPublicacao: () => import('./tab-publicacao/TabPublicacao.vue'),
		TabVideos: () => import('./tab-videos/TabVideos.vue'),
	},
})
export default class CadastrarEditar extends Vue {
	tab: any = null;
	produto: Produto = null;
	idProduto: number = 0;

	created() {
		if (this.$route.path.includes('editar')) {
			this.produto = this.$route.meta.produto;
			this.idProduto = this.produto.id;
		}
	}

	get alterado() {
		return ProdutoStore.alterado;
	}

	@Watch('alterado')
	setCadastrado() {
		if (this.alterado && this.alterado.id) {
			this.produto = this.alterado;
			ProdutoStore.setAlterado(null);
			this.idProduto = this.produto.id;
			/* TODO: Trocar o endpoint de update */
			if (!this.idProduto)
				this.$router.replace(`/produtos/${this.produto.id}/editar`);
		}
	}
}
</script>

<style lang="scss"></style>
