<template>
	<div class="Listagem">
		<v-card class="ma-0">
			<v-btn color="green lighten-2" fab dark small to="produtos/cadastrar">
				<v-icon>add</v-icon>
			</v-btn>
			<div v-if="loading" class="d-flex justify-center">
				<v-progress-circular
					:size="100"
					color="amber"
					indeterminate
				></v-progress-circular>
			</div>
			<div v-for="produto of produtos" :key="produto.id">
				<card :produto="produto"></card>
			</div>
		</v-card>
	</div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';
import { ProdutoStore } from '@/store/produto.store';
import Pagination from '@/models/Pagination';
import { AuthStore } from '@/store/auth.store';

@Component({
	components: { Card: () => import('./Card.vue') },
})
export default class Listagem extends Vue {
	pagination: Pagination = Pagination.build();

	created() {
		const params = new Map();
		params.set('page', 0);
		params.set('limit', 0);
		params.set('proprietarioId', AuthStore.usuario.id);
		ProdutoStore.listar(Object.fromEntries(params));
	}

	get produtos() {
		return ProdutoStore.produtos;
	}

	get loading() {
		return ProdutoStore.carregando;
	}
}
</script>

<style lang="scss"></style>
