<template>
  <div class="TabInformacoesGerais">
    <v-container fluid fill-height>
      <v-row align="center" justify="center" class="ma-0 pa-0">
        <v-col sm="10" lg="6">
          <v-card>
            <v-fab-transition>
              <v-btn v-show="formIsValid" @click="salvar" color="pink" fab dark small absolute right>
                <v-icon>add</v-icon>
              </v-btn>
            </v-fab-transition>
            <v-card-text align="center" justify="center">
              <v-col sm="10">
                <v-form v-model="formIsValid">
                  <div>
                    <v-text-field
                      v-model="fichaTecnica.tituloOriginal"
                      label="Título Original"
                      :rules="validadores.tituloOriginal"
                    ></v-text-field>

                    <dropdown-generico
                      @newItem="setAreaConhecimento"
                      :config="configAreaConhecimento"
                      :validadores="validadores"
                      ref="dropArea"
                    ></dropdown-generico>

                    <v-textarea
                      v-model="fichaTecnica.origem"
                      label="Origem"
                      :rules="validadores.origem"
                      :rows="3"
                    ></v-textarea>

                    <v-textarea
                      v-model="fichaTecnica.finalidade"
                      label="Finalidade"
                      :rules="validadores.finalidade"
                      :rows="3"
                      counter="255"
                    ></v-textarea>

                    <v-textarea
                      v-model="fichaTecnica.publicoAlvo"
                      label="Público Alvo"
                      :rules="validadores.publico"
                      :rows="3"
                    ></v-textarea>

                    <v-textarea
                      v-model="fichaTecnica.organizacao"
                      label="Organização"
                      :rules="validadores.organizacao"
                      :rows="3"
                    ></v-textarea>

                    <v-textarea
                      v-model="fichaTecnica.avaliacao"
                      label="Avaliação"
                      :rules="validadores.avaliacao"
                      :rows="3"
                    ></v-textarea>

                    <v-textarea
                      v-model="fichaTecnica.disponibilidade"
                      label="Disponibilidade"
                      :rules="validadores.disponibilidade"
                      :rows="3"
                    ></v-textarea>

                    <v-text-field
                      v-model="fichaTecnica.divulgacao"
                      label="Divulgação"
                      :rules="validadores.divulgacao"
                    ></v-text-field>

                    <v-text-field
                      v-model="fichaTecnica.registro"
                      label="Local de Registro"
                      :rules="validadores.registro"
                    ></v-text-field>

                    <v-text-field
                      v-model="fichaTecnica.financiamento"
                      label="Apoio Financeiro"
                      :rules="validadores.financiamento"
                    ></v-text-field>

                    <v-text-field
                      v-model="fichaTecnica.idioma"
                      label="Idioma(s)"
                      :rules="validadores.idioma"
                    ></v-text-field>

                    <v-text-field
                      v-model="fichaTecnica.pais"
                      label="País"
                      :rules="validadores.pais"
                    ></v-text-field>

                    <v-text-field
                      v-model="fichaTecnica.cidade"
                      label="Cidade"
                      :rules="validadores.cidade"
                    ></v-text-field>

                    <v-text-field
                      v-model="fichaTecnica.ano"
                      label="Ano"
                      :rules="validadores.ano"
                    ></v-text-field>
                    
                  </div>
                </v-form>
              </v-col>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from "vue-property-decorator";
import { recursosGenericos } from "../crud-generico/base.config";
import { GenericModel } from "@/models/genericModel";
import { Produto } from "@/models/produto";
import { Validator } from "@/_helpers/validators";
import { ProdutoStore } from '@/store/produto.store';
import { AuthStore } from '@/store/auth.store';
import Dropdown from '../crud-generico/dropdown-generico/DropdownGenerico.vue';
import GenericService from '@/services/generic.service';
import EntidadeBaseSimples from '@/models/entidadeBaseSimples';

@Component({
  components: {
    DropdownGenerico: () => import("../crud-generico/dropdown-generico/DropdownGenerico.vue"),
    DropdownGrupoDePesquisa: () =>
      import("../grupo-de-pesquisa/DropdownGrupoDePesquisa.vue"),
  },
})
export default class TabInformacoesGerais extends Vue {
  @Prop() input: Produto;
  service = new GenericService<Produto>("produtos");
  formIsValid: boolean = false;
  linhaDePesquisa: Partial<GenericModel> = null;
  configAreaConhecimento = recursosGenericos["areas-de-conhecimento"];

  validadores = {
    tituloOriginal: [Validator.required()],
    linhaDePesquisa: [Validator.required()],
    grupoDePesquisa: [Validator.required()],
    palavrasChave: [Validator.max(5)],
    finalidade: [Validator.required(), Validator.max(255)],
    nivel: [Validator.required()],
    publico: [Validator.required()],
    origem: [Validator.required()],
    organizacao: [Validator.required()],
    registro: [Validator.required()],
    avaliacao: [Validator.required()],
    disponibilidade: [Validator.required()],
    divulgacao: [Validator.required()],
    idioma: [Validator.required()],
    financiamento: [Validator.required()],
    cidade: [Validator.required()],
    pais: [Validator.required()],
    ano: [Validator.required()]
  };

  salvar(){
    this.input.proprietario = AuthStore.usuario;
    ProdutoStore.salvar(this.input);
  }

  setAreaConhecimento(entidade: EntidadeBaseSimples) {
    this.fichaTecnica.areaDeConhecimento = entidade;
  }

  get fichaTecnica() {
    return this.input.fichaTecnica;
  }
}
</script>

<style lang="scss"></style>
