<template>
	<div class="TabImagens">
		<div class="d-none">
			Upload an image file:
			<input ref="files" type="file" multiple @input="getImgs" capture />
		</div>
		<br />
		<v-btn color="green" class="white--text" fab @click="dialog = !dialog">
			<v-icon large>add</v-icon>
		</v-btn>
		<v-layout row justify-center>
			<v-dialog
				v-model="dialog"
				fullscreen
				hide-overlay
				transition="dialog-bottom-transition"
			>
				<v-card>
					<v-toolbar dark color="primary">
						<v-btn icon dark @click="dialog = false">
							<v-icon>close</v-icon>
						</v-btn>
						<v-toolbar-title>Upload de Imagens</v-toolbar-title>
						<v-spacer></v-spacer>
						<v-toolbar-title v-if="images && images.length">
							{{ images.length }} Selecionado(s)
						</v-toolbar-title>
						<v-spacer></v-spacer>
						<v-toolbar-items>
							<v-btn dark text @click="salvar">SALVAR</v-btn>
						</v-toolbar-items>
					</v-toolbar>
					<div class="d-none">
						Upload an image file:
						<input ref="files" type="file" multiple @input="getImgs" capture />
					</div>
					<v-btn color="green" class="white--text" @click="pickFile"
						>Selecionar</v-btn
					>
				</v-card>
			</v-dialog>
		</v-layout>
		<div v-if="input.imagens && input.imagens.length" class="d-flex flex-wrap">
			<produto-imagem-card
				class="imagem"
				v-for="imagem of input.imagens"
				:key="imagem.id"
				:imagem="imagem"
			></produto-imagem-card>
		</div>
	</div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';
import { Produto } from '@/models/produto';
import GenericService from '@/services/generic.service';
import { ProdutoStore } from '@/store/produto.store';
@Component({
	components: {
		ProdutoImagemCard: () =>
			import('../../components/produto-imagem-card/ImagemProdutoCard.vue'),
	},
})
export default class TabImagens extends Vue {
	@Prop() input: Produto;
	dialog: boolean = false;

	created() {}

	get images() {
		return this.input.files;
	}

	pickFile() {
		(this.$refs.files as HTMLInputElement).click();
	}

	getImgs(event) {
		const selectedFiles = event.target.files;
		for (let i = 0; i < selectedFiles.length; i += 1) {
			this.images.push(selectedFiles[i]);
		}
		(this.$refs.files as any).value = null;
	}

	salvar() {
		if (!this.input.files || !(this.input.files.length >= 0)) {
			this.input.files = [];
		}
		const formData = new FormData();
		for (let i = 0; i < this.images.length; i += 1) {
			const file = this.images[i];
			formData.append(`files`, file);
		}
		const action = ProdutoStore.salvarImagens({ id: this.input.id, payload: formData });
		action.then(
			res => {
				res ? this.dialog = !this.dialog : this.dialog;
			}
		);
	}
}
</script>

<style lang="scss" scoped>
@import '~vuetify/src/styles/settings/_variables';

@media #{map-get($display-breakpoints, 'sm-and-down')} {
	.imagem {
		margin: 5%;
		width: 90%;
	}
}

@media #{map-get($display-breakpoints, 'lg-and-up')} {
	.imagem {
		margin: 1%;
		width: 23%;
	}
}

@media #{map-get($display-breakpoints, 'md-only')} {
	.imagem {
		margin: 1.16%;
		width: 31%;
	}
}

.container-imagens {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start !important;
}
</style>
