<template>
  <div class="TabInformacoesGerais">
    <v-container fluid fill-height>
      <v-row align="center" justify="center" class="ma-0 pa-0">
        <v-col sm="10" lg="6">
          <v-card>
            <v-fab-transition>
              <v-btn v-show="formIsValid" @click="salvar" color="pink" fab dark small absolute right>
                <v-icon>add</v-icon>
              </v-btn>
            </v-fab-transition>
            <v-card-text align="center" justify="center">
              <v-col sm="10">
                <v-form v-model="formIsValid">
                  <div>
                    <v-text-field
                      v-model="produto.titulo"
                      label="Título"
                      :rules="validadores.titulo"
                    ></v-text-field>

                    <!-- TODO: Tornar essa combinação em um único componente -->
                    <dropdown-generico
                      @newItem="setLinhaDePesquisa"
                      :config="configLinhasDePesquisa"
                      :validador="validadores.linhaDePesquisa"
                      :input="linhaDePesquisa"
                      ref="dropLinha"
                    ></dropdown-generico>

                    <dropdown-grupo-de-pesquisa
                      :linhaDePesquisa="linhaDePesquisa"
                      :wraperModel="produto"
                      :validador="validadores.grupoDePesquisa"
                    ></dropdown-grupo-de-pesquisa>

                    <!-- TODO: Tornar genérico esse combo -->
                    <v-combobox
                      v-model="produto.palavrasChave"
                      :items="[{nome:'Sandro'}]"
                      item-text="nome"
                      chips
                      clearable
                      deletable-chips
                      label="Digite ou Selecione Palavras Chaves"
                      multiple
                      :rules="validadores.palavrasChave"
                      @input="palavrasChaveHandler($event)"
                    >
                      <template v-slot:selection="{ attrs, item, select, selected, index }">
                        <v-chip
                          v-bind="attrs"
                          :input-value="selected"
                          close
                          @click="select"
                          @click:close="removeKey(index)"
                        >
                          <strong>{{ item.nome }}</strong>&nbsp;
                        </v-chip>
                      </template>
                    </v-combobox>

                    <v-text-field v-model="produto.site" label="Site do Produto"></v-text-field>
                  </div>
                </v-form>
              </v-col>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from "vue-property-decorator";
import { recursosGenericos } from "../crud-generico/base.config";
import { GenericModel } from "@/models/genericModel";
import { Produto } from "@/models/produto";
import { Validator } from "@/_helpers/validators";
import { ProdutoStore } from '@/store/produto.store';
import { AuthStore } from '@/store/auth.store';
import Dropdown from '../crud-generico/dropdown-generico/DropdownGenerico.vue';
import GenericService from '@/services/generic.service';

@Component({
  components: {
    DropdownGenerico: () => import("../crud-generico/dropdown-generico/DropdownGenerico.vue"),
    DropdownGrupoDePesquisa: () =>
      import("../grupo-de-pesquisa/DropdownGrupoDePesquisa.vue"),
  },
})
export default class TabInformacoesGerais extends Vue {
  @Prop() input: Produto;
  service = new GenericService<Produto>("produtos");
  produto: Produto = new Produto();
  formIsValid: boolean = false;
  linhaDePesquisa: Partial<GenericModel> = null;
  configLinhasDePesquisa = recursosGenericos["linhas-de-pesquisa"];
  validadores = {
    titulo: [Validator.required()],
    linhaDePesquisa: [Validator.required()],
    grupoDePesquisa: [Validator.required()],
    palavrasChave: [Validator.max(5)]
  };

  created() {
    if(this.input) {
      this.produto = this.input;
      this.linhaDePesquisa = this.input.grupoDePesquisa.linhaDePesquisa;
      setTimeout(() => {
        (this.$refs.dropLinha as Dropdown).model = this.linhaDePesquisa;
      }, 500);
    }
  }

  setLinhaDePesquisa(newValue: GenericModel) {
    this.linhaDePesquisa = newValue;
  }

  palavrasChaveHandler(v: any[]) {
    this.produto.palavrasChave = v.map(item => {
      if (typeof item == 'string') {
        item = {nome: item};
      }
      return item;
    });
  }

  removeKey(index: number) {
    this.produto.palavrasChave.splice(index, 1);
  }

  salvar(){
    this.produto.proprietario = AuthStore.usuario;
    ProdutoStore.salvar(this.produto);
  }

  @Watch("produto.palavrasChaves")
  setTagsDoProduto(newValue: string[]) {
    this.produto.palavrasChave = newValue;
  }
}
</script>

<style lang="scss"></style>
