<template>
  <div>
    <v-dialog v-model="open">
      <template v-slot:activator="{ on }">
        <v-btn color="green lighten-2" fab dark small v-on="on">
          <v-icon dark>add</v-icon>
        </v-btn>
      </template>
      <v-card>
        <v-container>
          <v-card-title class="pa-0"> {{ config.single }} - {{this.objeto == null ? 'Cadastrar' : 'Editar'}}</v-card-title>
          <v-form v-model="formIsValid" @submit.prevent="salvar">
            <div>
              <v-text-field
                v-model="item.nome"
                label="Nome"
                :rules="validadores.nome"
              ></v-text-field>
            </div>
            <div>
              <v-textarea
                name="input-7-1"
                label="Descrição"
                v-model="item.descricao"
              ></v-textarea>
            </div>
            <div>
              <v-text-field
                v-model="item.sigla"
                label="Sigla"
                :rules="validadores.sigla"
              ></v-text-field>
            </div>
            <v-row justify="space-between">
              <v-btn rounded small color="error">Excluir</v-btn>
              <v-btn rounded small color="success" type="submit">Salvar</v-btn>
            </v-row>
          </v-form>
        </v-container>
      </v-card>
    </v-dialog>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from "vue-property-decorator";
import { GenericModel } from "@/models/genericModel";
import { Validator } from "@/_helpers/validators";
import GenericConfig from "@/models/genericConfig";
import Pagination from '@/models/Pagination';

@Component({})
export default class CadastrarEditar extends Vue {
  @Prop() config: GenericConfig;
  @Prop() pagination: Pagination;
  @Prop() closeDialog: Function;
  @Prop({default: new Object()}) objeto: Partial<GenericModel>;
  item: Partial<GenericModel> = {};
  formIsValid: boolean = false;
  open: boolean = false
  validadores = {
    nome: [Validator.required()],
    descricao: [],
    sigla: [],
  };

  created(){
    this.item = {};
  }

  salvar(){
    this.$store.dispatch(`${this.config.store}/salvar`, {item: this.item, pagination: this.pagination}).then(() => this.open = false )
  }

  @Watch('objeto')
  setItem(newValue: Partial<GenericModel>){
    (newValue === null) ? this.item = {} : this.item = Object.assign({}, newValue);
  }

  @Watch('open')
  close(newValue: boolean){
    if(!newValue){
      this.closeDialog();
    }
  }
}
</script>

<style lang="scss"></style>
