<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Aplicativo PWA para exibir produtos educacionais.">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>vitrine-digital-frontend</title>
    <!-- https://stackoverflow.com/questions/45321043/preload-css-file-not-supported-on-firefox-and-safari-mac/53826674 -->
    <link rel="stylesheet" rel="preload" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" as="style" onload="this.rel='stylesheet'">
    <link rel="stylesheet" rel="preload" href="https://fonts.googleapis.com/css?family=Material+Icons" as="style" onload="this.rel='stylesheet'">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but vitrine-digital-frontend doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
