<template>
	<div class="TabVideos">
		<v-container>
			<v-btn fab dark color="green" fixed bottom right @click="salvar">
				<v-icon>edit</v-icon>
			</v-btn>
			<v-row align="center" justify="start" class="ma-0 pa-0">
				<v-col sm="10" lg="8">
					<v-form>
						<v-row align="center">
							<v-text-field
								v-model="url"
								label="Link do Youtube"
								class="mr-1"
							/>
							<v-btn color="success" small @click="add">
								<v-icon>
									add
								</v-icon>
							</v-btn>
						</v-row>
					</v-form>
				</v-col>
			</v-row>
			<main class="videos">
				<v-card class="item" v-for="(item, index) of input.videos" :key="index">
					<youtube fitParent resize :video-id="item.youtubeId"> </youtube>
					<v-card-actions class="action">
						<v-btn icon color="error" @click="remove(index)">
							<v-icon>
								remove_circle_outline
							</v-icon>
						</v-btn>
					</v-card-actions>
				</v-card>
			</main>
		</v-container>
	</div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';
import { Produto } from '@/models/produto';
import { ProdutoStore } from '@/store/produto.store';
import * as getYoutubeTitle from 'get-youtube-title';
import { Video } from '@/models/video';
import { openSnack } from '@/_helpers/utils';

@Component({})
export default class TabVideos extends Vue {
	@Prop() input: Produto;
	url: string = '';

	add() {
		const video: Video = { titulo: '', youtubeId: '' };
		const id = (this as any).$youtube.getIdFromUrl(this.url);
		video.youtubeId = id;
		getYoutubeTitle(id, (err, titulo) => {
			if (!err) {
				video.titulo = titulo
				this.input.videos.push(video);
				this.url = '';
			} else{
				openSnack({msg: 'Erro ao recuperar título do vídeo', color: 'error'})
			}
		});
	}

	remove(index: number) {
		this.input.videos.splice(index, 1);
	}

	salvar() {
		ProdutoStore.atualizar(this.input);
	}
}
</script>

<style lang="scss">
.videos {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fill, 340px);
}

.action {
	display: flex !important;
	justify-content: center !important;
}
</style>
