<template>
  <div class="DropdownGrupoDePesquisa">
    <v-autocomplete
      v-model="wraperModel.grupoDePesquisa"
      :disabled="!linhaDePesquisa"
      :items="itens"
      label="Grupo de Pesquisa"
      item-text="nome"
      return-object
      :rules="validador"
      clearable
    >
      <template slot="item" slot-scope="data">
        {{ data.item.nome | uppercase }}
      </template>
    </v-autocomplete>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { GenericModel } from "../../models/genericModel";
import { GrupoDePesquisaStore } from "@/store/grupoDePesquisa.store";
import { GrupoDePesquisa } from '@/models/grupoDePesquisa';

@Component({})
export default class DropdownGrupoDePesquisa extends Vue {
  @Prop() linhaDePesquisa: GenericModel;
  @Prop() wraperModel: {grupoDePesquisa: GrupoDePesquisa};
  @Prop() validador: any;

  created() {
    GrupoDePesquisaStore.listar({ page: 0, limit: 0 });
  }

  get itens() {
    return GrupoDePesquisaStore.gruposDePesquisa.filter(
      (item) =>
        this.linhaDePesquisa &&
        item.linhaDePesquisa.id === this.linhaDePesquisa.id
    );
  }
}
</script>

<style lang="scss"></style>
