<template>
	<div class="Listar">
		<v-card class="ma-2">
			<v-card-title>
				Usuários
				<v-spacer></v-spacer>
				<v-tooltip bottom>
					<template v-slot:activator="{ on }">
						<span v-on="on">
							<v-btn fab small @click="atualizar" :disabled="carregando">
								<v-icon :class="carregando ? 'rotate' : ''">autorenew</v-icon>
							</v-btn>
						</span>
					</template>
					<span>{{ carregando ? 'Atualizando' : 'Atualizar' }}</span>
				</v-tooltip>
				<cadastrar-editar
					contentClass="cadastrar-editar"
					ref="dialog"
				></cadastrar-editar>
			</v-card-title>
			<v-text-field
				class="ma-1"
				append-icon="search"
				label="Search"
				single-line
				hide-details
			></v-text-field>
			<v-data-table
				:headers="headers"
				:items="itens"
				:server-items-length.sync="totalItens"
				:page.sync="pagination.page"
				:items-per-page.sync="pagination.limit"
				:footer-props="footer"
				:loading="carregando"
				@update:page="carregarItens()"
				@update:items-per-page="carregarItens()"
			>
				<template v-slot:item.acoes="{ item }">
					<v-menu
						bottom
						origin="center center"
						transition="scale-transition"
						offset-y
					>
						<template v-slot:activator="{ on, value }">
							<v-btn class="elevation-0" v-on="on" icon>
								<v-icon :class="value ? 'more' : ''">more_horiz</v-icon>
							</v-btn>
						</template>

						<v-list>
							<v-list-item @click="selecionarItem(item)">
								<v-list-item-title>Editar</v-list-item-title>
							</v-list-item>
						</v-list>
					</v-menu>
				</template>
			</v-data-table>
		</v-card>
	</div>
</template>

<script lang="ts">
import Page from '@/models/Page';
import Pagination from '@/models/Pagination';
import { Usuario } from '@/models/usuario';
import { UsuarioStore } from '@/store/usuario.store';
import { Vue, Component, Prop } from 'vue-property-decorator';
import CadastrarEditar from '../cadastrar-editar/CadastrarEditar.vue';

@Component({
	components: {
		CadastrarEditar
	}
})
export default class Listar extends Vue {
	pagination: Pagination = Pagination.build();
	selecionado: Usuario = null;
	footer = {
		itemsLength: 'Itens por página',
		'items-per-page-options': [-1, 5, 10, 15],
		'items-per-page-all-text': 'Todos',
	};
	headers = [
		{ text: 'Nome', value: 'nome' },
		{ text: 'Ações', value: 'acoes' },
	];
	filtros: any = {
		nome: '',
		ativo: true,
	};
	genericPage: Page<Usuario> = Page.build();
	open: boolean = false;

	created() {
		this.carregarItens();
	}

	carregarItens() {
		UsuarioStore.listar(this.pagination);
	}

	atualizar() {
		UsuarioStore.listar(this.pagination);
	}

	async selecionarItem(usuario: Usuario) {
		const obj = await {...usuario};
		(this.$refs.dialog as CadastrarEditar).usuario = obj;
		(this.$refs.dialog as CadastrarEditar).open = true;
	}

	get carregando() {
		return UsuarioStore.carregando;
	}

	get itens() {
		return UsuarioStore.usuarios;
	}

	get totalItens() {
		return UsuarioStore.totalItens;
	}
}
</script>

<style lang="scss">
	.cadastrar-editar {
		width: 98%;
	}
</style>
