<template>
	<div class="Perfil">
		<div class="d-none">
			Upload an image file:
			<input ref="file" type="file" @input="getImg" capture />
		</div>
		<v-container>
			<v-row no-gutters justify="center">
				<v-avatar size="235">
					<v-img :src="fotoPerfil" class="container-icon">
						<div class="icon">
							<v-speed-dial
								v-model="fab"
								direction="top"
								transition="slide-y-reverse-transition"
							>
								<template v-slot:activator>
									<v-btn v-model="fab" icon>
										<v-icon v-if="fab">close</v-icon>
										<v-icon v-else>camera_alt</v-icon>
									</v-btn>
								</template>
								<v-btn fab dark color="green" @click="pickFile">
									<v-icon>create</v-icon>
								</v-btn>
								<v-btn fab dark color="red" v-if="usuario.foto">
									<v-icon>delete</v-icon>
								</v-btn>
							</v-speed-dial>
						</div>
					</v-img>
				</v-avatar>
			</v-row>
			<v-row no-gutters justify="center">
				<v-col cols="10" lg="4" md="6">
					<v-form v-model="formIsValid">
						<v-text-field v-model="usuario.nome" label="Nome"> </v-text-field>
						<v-text-field v-model="usuario.sobrenome" label="Sobrenome">
						</v-text-field>
						<v-text-field v-model="usuario.email" label="E-mail">
						</v-text-field>
						<v-text-field v-model="usuario.citacao" label="Citação">
						</v-text-field>
						<dropdown-generico
							@newItem="setLinhaDePesquisa"
							:config="configLinhasDePesquisa"
							:validador="validadores.linhaDePesquisa"
							:input="linhaDePesquisa"
							ref="dropLinha"
						></dropdown-generico>

						<dropdown-grupo-de-pesquisa
							:linhaDePesquisa="linhaDePesquisa"
							:wraperModel="usuario"
							:validador="validadores.grupoDePesquisa"
						></dropdown-grupo-de-pesquisa>
						<v-btn block color="success" @click="salvar" :disabled="!formIsValid">SALVAR</v-btn>
					</v-form>
				</v-col>
			</v-row>
		</v-container>
	</div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from 'vue-property-decorator';
import { Usuario } from '@/models/usuario';
import { AuthStore } from '@/store/auth.store';
import { GenericModel } from '@/models/genericModel';
import { recursosGenericos } from '@/views/crud-generico/base.config';
import { Validator } from '@/_helpers/validators';
import { UsuarioService } from './usuario.service';
import Dropdown from '@/views/crud-generico/dropdown-generico/DropdownGenerico.vue';
import GenericService from '@/services/generic.service';

@Component({
	components: {
		DropdownGenerico: () =>
			import('../../crud-generico/dropdown-generico/DropdownGenerico.vue'),
		DropdownGrupoDePesquisa: () =>
			import('../../grupo-de-pesquisa/DropdownGrupoDePesquisa.vue'),
	},
})
export default class Perfil extends Vue {
	service = new UsuarioService();
	usuario: Usuario;
	image: any;
	urlImage: string = '';
	fab: boolean = false;
	formIsValid: boolean = false;
	linhaDePesquisa: Partial<GenericModel> = null;
	configLinhasDePesquisa = recursosGenericos['linhas-de-pesquisa'];
	validadores = {
		linhaDePesquisa: [],
		grupoDePesquisa: [],
	};

	created() {
		this.usuario = AuthStore.usuario;
		if (this.usuario.grupoDePesquisa) {
			this.linhaDePesquisa = this.usuario.grupoDePesquisa.linhaDePesquisa;
			setTimeout(() => {
				(this.$refs.dropLinha as Dropdown).model = this.linhaDePesquisa;
			}, 500);
			this.validadores.grupoDePesquisa = [Validator.required()];
		}
	}

	getImg(event) {
		const selectedFile = event.target.files[0];
		(this.$refs.file as any).value = null;
		this.image = selectedFile;
		const reader = new FileReader();
		reader.onload = () => {
			this.urlImage = reader.result as string;
		};
		reader.readAsDataURL(selectedFile);
	}

	pickFile() {
		(this.$refs.file as HTMLInputElement).click();
	}

	salvar() {
		const data = new FormData();
		data.append('data', JSON.stringify(this.usuario));
		this.image ? data.append('file', this.image) : '';
		const config = {
			headers: {
				'Content-type': 'multipart/form-data',
			},
		};
		AuthStore.atualizarUsuario({id: this.usuario.id, form: data});
	}

	setLinhaDePesquisa(newValue: GenericModel) {
		this.linhaDePesquisa = newValue;
		this.validadores.grupoDePesquisa = [Validator.required()];
	}

	@Watch('linhaDePesquisa')
	limparGrupo(newValue: any) {
		if (!newValue) {
			this.usuario.grupoDePesquisa = null;
			this.validadores.grupoDePesquisa = [];
		}
	}

	get fotoPerfil() {
		return this.usuario.foto && !this.urlImage
			? `${process.env.VUE_APP_URL_API}/files/${this.usuario.foto}`
			: this.urlImage ? this.urlImage : 'https://cdn.vuetifyjs.com/images/john.jpg'; // TODO: Trocar por imagem de perfil SVG
	}
}
</script>

<style lang="scss" scoped>
::v-deep .container-icon .v-responsive__content {
	display: flex !important;
	flex-direction: column-reverse;
}

.icon {
	height: 50px;
	width: 100%;
	background-color: rgba(227, 231, 231, 0.8);
}
</style>
