<template>
	<div class="TabPublicacao">
		<v-speed-dial
			v-model="fab"
			transition="slide-y-reverse-transition"
			right
			fixed
			bottom
		>
			<template v-slot:activator>
				<v-btn v-model="fab" fab>
					<v-icon v-if="fab">close</v-icon>
					<v-icon v-else>more_horiz</v-icon>
				</v-btn>
			</template>
			<v-btn fab dark color="green" @click="salvar">
				<v-icon>edit</v-icon>
			</v-btn>
			<v-btn fab dark color="warning">
				<v-icon>visibility</v-icon>
			</v-btn>
		</v-speed-dial>
		<div v-for="(item, index) in input.paragrafos" :key="index">
			<section>
				<v-row align="center" justify="center" class="ma-0 pa-0">
					<v-col sm="10" lg="6">
						<v-card>
							<div>
								<v-radio-group v-model="item.tipo" row class="group">
									<v-radio label="Texto" value="texto"></v-radio>
									<v-radio label="Imagem" value="imagem"></v-radio>
									<v-radio label="Vídeo" value="video"></v-radio>
								</v-radio-group>
							</div>
							<v-card-text align="center" justify="center">
								<div v-if="item.tipo == 'texto'">
									<vue-editor v-model="item.texto"></vue-editor>
								</div>
								<div v-if="item.tipo == 'imagem'">
									<v-select
										:items="input.imagens"
										v-model="item.imagem"
										item-value="imagem"
										item-text="nome"
										label="Imagem"
									></v-select>
									<v-img
										v-if="item.imagem"
										:src="`${imageUrl}/${item.imagem}`"
									></v-img>
								</div>
								<div v-if="item.tipo == 'video'">
									<v-select
										:items="input.videos"
										v-model="item.video"
										item-value="youtubeId"
										item-text="titulo"
										label="Vídeo"
									></v-select>
									<youtube fitParent resize :video-id="item.video" />
								</div>
								<div>
									<v-btn
										fab
										outlined
										small
										v-if="index != 0"
										color="error"
										@click="remover(index)"
									>
										<v-icon>close</v-icon>
									</v-btn>
									<v-btn
										fab
										outlined
										small
										color="success"
										@click="adicionarParagrafo(index)"
									>
										<v-icon>add</v-icon>
									</v-btn>
								</div>
							</v-card-text>
						</v-card>
					</v-col>
				</v-row>
			</section>
		</div>
	</div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';
import { Produto } from '@/models/produto';
import { VueEditor } from 'vue2-editor';
import { ProdutoStore } from '@/store/produto.store';

@Component({
	components: {
		VueEditor,
	},
})
export default class TabPublicacao extends Vue {
	@Prop() input: Produto;
	fab: boolean = false;

	created() {
		if (!this.input.paragrafos || this.input.paragrafos.length < 1) {
			this.input.paragrafos = [];
			this.adicionarParagrafo(0);
		}
	}

	adicionarParagrafo(index: number) {
		let paragrafo = {
			tipo: 'texto',
			imagem: '',
			legenda: '',
			video: '',
			texto: '',
		};
		this.input.paragrafos.splice(index+1, 0, paragrafo);
	}

	salvar() {
		ProdutoStore.atualizar(this.input);
	}

	remover(index: number) {
		this.input.paragrafos.splice(index, 1);
	}

	get imageUrl() {
		return `${process.env.VUE_APP_URL_API}/files`;
	}
}
</script>
