<template>
  <div>
    <v-app-bar color="deep-purple accent-4" dark app>
      <v-app-bar-nav-icon
        @click.stop="drawer = !drawer"
        aria-label="Menu de Navegação"
      ></v-app-bar-nav-icon>

      <v-spacer></v-spacer>
      <v-icon>
        wb_sunny
      </v-icon>
      <v-switch
        v-model="$vuetify.theme.dark"
        aria-label="dark-ligth"
        hide-details
      ></v-switch>
      <v-icon>
        brightness_3
      </v-icon>
    </v-app-bar>

    <v-navigation-drawer v-model="drawer" app>
      <navigation-list></navigation-list>
    </v-navigation-drawer>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";
import NavigationList from './NavigationList.vue'

@Component({
  components: {
    NavigationList
  },
})
export default class Navbar extends Vue {
  drawer: boolean = false;
}
</script>
