<template>
	<div class="NavigationList">
		<v-list>
			<v-list-item link to="/">
				<v-list-item-icon>
					<v-icon>home</v-icon>
				</v-list-item-icon>

				<v-list-item-content>
					<v-list-item-title>Home</v-list-item-title>
				</v-list-item-content>
			</v-list-item>

			<v-list-item link to="/login">
				<v-list-item-icon>
					<v-icon>vpn_key</v-icon>
				</v-list-item-icon>

				<v-list-item-content>
					<v-list-item-title>Login</v-list-item-title>
				</v-list-item-content>
			</v-list-item>

			<v-list-group prepend-icon="table_view" no-action>
				<template v-slot:activator>
					<v-list-item-title>Cadastros Básicos</v-list-item-title>
				</template>

				<v-list-item link to="/linhas-de-pesquisa">
					<v-list-item-content>
						<v-list-item-title>Linhas de Pesquisa</v-list-item-title>
					</v-list-item-content>
				</v-list-item>

				<v-list-item link to="/areas-de-conhecimento">
					<v-list-item-content>
						<v-list-item-title>Áreas de Conhecimento</v-list-item-title>
					</v-list-item-content>
				</v-list-item>
			</v-list-group>

			<v-list-item link to="/produtos">
				<v-list-item-icon>
					<v-icon>book</v-icon>
				</v-list-item-icon>

				<v-list-item-content>
					<v-list-item-title>Produtos</v-list-item-title>
				</v-list-item-content>
			</v-list-item>

			<v-list-item link to="/meu-perfil">
				<v-list-item-icon>
					<v-icon>account_circle</v-icon>
				</v-list-item-icon>

				<v-list-item-content>
					<v-list-item-title>Meu Perfil</v-list-item-title>
				</v-list-item-content>
			</v-list-item>

			<v-list-item link to="/usuarios">
				<v-list-item-icon>
					<v-icon>supervised_user_circle</v-icon>
				</v-list-item-icon>

				<v-list-item-content>
					<v-list-item-title>Usuários</v-list-item-title>
				</v-list-item-content>
			</v-list-item>
		</v-list>
	</div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';

@Component({})
export default class NavigationList extends Vue {}
</script>

<style lang="scss"></style>
