<template>
	<div class="CadastrarEditar">
		<v-dialog v-model="open"
			:content-class="contentClass"
		>
			<v-card v-if="open">
				<v-container>
					<v-card-title class="pa-0">
						Usuario -
						{{ this.usuario == null ? 'Cadastrar' : 'Editar' }}</v-card-title
					>
					<v-form v-model="formIsValid">
						<div>
							<v-text-field
								v-model="usuario.nome"
								label="Nome"
								:rules="validadores.nome"
							></v-text-field>
							<v-text-field
								v-model="usuario.sobrenome"
								label="Sobrenome"
								:rules="validadores.sobrenome"
							></v-text-field>
							<v-text-field
								v-model="usuario.email"
								label="E-mail"
								:rules="validadores.email"
							></v-text-field>
							<v-text-field
								v-model="usuario.cpf"
								label="CPF"
								:rules="validadores.cpf"
							></v-text-field>
							<v-text-field
								v-model="usuario.matricula"
								label="Matrícula"
								:rules="validadores.matricula"
							></v-text-field>
							<v-text-field
								v-model="usuario.lattes"
								label="Lattes"
								:rules="validadores.lattes"
							></v-text-field>
							<dropdown-generico
								label="Orientador"
								:config="configProfessor"
								:validador="validadores.orientador"
								:input="usuario.orientador"
								:opcoesPesquisa="opcoesProfessor"
								:definidorLabel="labelDocente"
							></dropdown-generico>
							<dropdown-generico
								label="Co-orientador"
								:config="configProfessor"
								:validador="validadores.orientador"
								:input="usuario.coorientador"
								:opcoesPesquisa="opcoesProfessor"
								:definidorLabel="labelDocente"
							></dropdown-generico>
						</div>
						<v-row justify="space-between">
							<v-btn rounded small color="error">Excluir</v-btn>
							<v-btn rounded small color="success" type="submit">Salvar</v-btn>
						</v-row>
					</v-form>
				</v-container>
			</v-card>
		</v-dialog>
	</div>
</template>

<script lang="ts">
import { Usuario } from '@/models/usuario';
import { recursosGenericos } from '@/views/crud-generico/base.config';
import { Vue, Component, Prop } from 'vue-property-decorator';
import { validadoresPadraoUsuario, opcoesPesquisaProfessor, definirLabelDocente } from '../usuario.config';

@Component({
	components: {
		DropdownGenerico: ()=>import('../../crud-generico/dropdown-generico/DropdownGenerico.vue')
	}
})
export default class CadastrarEditar extends Vue {
	@Prop() contentClass: string;
    usuario: Usuario = new Usuario();
    formIsValid: boolean = false;
	open: boolean = false;
	
	validadores = validadoresPadraoUsuario();
	configProfessor = {...recursosGenericos["usuarios"], getter: 'auxiliar'};
	opcoesProfessor: Object = opcoesPesquisaProfessor();
	labelDocente = definirLabelDocente;
}
</script>

<style lang="scss"></style>
