<template>
  <div class="Dropdown">
    <v-autocomplete
      v-model="model"
      :items="itens"
      :label="label ? label : config.single"
      item-text="nome"
      return-object
      :rules="validador"
      clearable
    >
      <template slot="item" slot-scope="data">
        {{ definidorLabel ? definidorLabel(data.item) : data.item.nome | uppercase }}
      </template>
    </v-autocomplete>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from "vue-property-decorator";
import { recursosGenericos } from "../base.config";
import GenericConfig from "@/models/genericConfig";
import { GenericModel } from "@/models/genericModel";
import * as genericStore from "../crudGenerico.store";

@Component({})
export default class Dropdown extends Vue {
  @Prop() config: GenericConfig;
  @Prop() propName: string;
  @Prop() validador: any;
  @Prop() input: GenericModel;
  @Prop() label: string; 
  @Prop() opcoesPesquisa: Object
  @Prop() definidorLabel: Function;
  model: Partial<GenericModel> | null = null;

  constructor() {
    super();
    const store = this.$store;
    // register a new module only if doesn't exist
    // https://codeburst.io/dynamic-modules-with-vuex-and-vue-b9c481ca792
    if (!(store && store.state && store.state[this.config.store])) {
      store.registerModule(this.config.store, genericStore.newInstance());
    }
  }

  created() {
    this.carregarItens();
  }

  carregarItens() {
    let options = { config: this.config, pagination: { page: 0, limit: 0 } };
    this.$store.dispatch(`${this.config.store}/listarGenerico`, {
      ...options, query: this.opcoesPesquisa
    });
  }

  get itens(): GenericModel[] {
    return this.$store.getters[`${this.config.store}/${this.config.getter}`];
  }

  get totalItens(): number {
    return this.$store.getters[`${this.config.store}/totalItens`];
  }

  get carregando(): boolean {
    return this.$store.getters[`${this.config.store}/loadingList`];
  }

  @Watch("model")
  setItem(newValue: GenericModel) {
    this.$emit("newItem", newValue);
  }
}
</script>

<style lang="scss"></style>
