<template>
	<div class="ProdutoDetalhe">
		<v-container>
			<span class="produto-titulo">{{ produto.titulo }}</span>
			<v-divider></v-divider>
			<main class="grid">
				<slider class="slider" :imagens="produto.imagens" :videos="produto.videos"></slider>
				<aside class="sobre">
					<div>
						<span class="blue-color">Autor:</span>
						{{ produto.proprietario.nome }}
					</div>
					<div>
						<span class="blue-color">Orientador: </span>
						<!-- {{produto.orientador.nome + ''}} -->
					</div>
					<div>
						<span class="blue-color">Coorientador: </span>
						<!-- {{produto.orientador.nome + ''}} -->
					</div>
					<div>
						<span class="blue-color">Linha de Pesquisa: </span>
						{{ produto.grupoDePesquisa.linhaDePesquisa.nome + '' }}
					</div>
					<div>
						<span class="blue-color">Palavras-chave:</span><br />
						<v-chip
							small
							v-for="(item, index) of produto.palavrasChave"
							:key="index"
						>
							{{ item.nome }}
						</v-chip>
					</div>
					<div>
						<span class="blue-color" v-if="produto.site">Site do Produto:</span
						><br />
						<v-chip small :href="produto.site" target="_blank">
							{{ produto.site }}
							<v-icon right>link</v-icon>
						</v-chip>
					</div>
				</aside>
				<div class="publicacao">
					<div>
						<span class="blue-color-title">Descrição do Produto</span>
					</div>
					<p v-for="(item, index) of produto.paragrafos" :key="index">
						<span class="texto" v-if="item.tipo == 'texto'" v-html="item.texto">
						</span>
						<span v-if="item.tipo == 'imagem'">
							<v-img :src="`${imageUrl}/${item.imagem}`"></v-img>
						</span>
					</p>
				</div>
				<aside class="autores">
					<div>
						<span class="blue-color-title">Autor</span>
					</div>
					<v-img :src="imageAutor"></v-img>
					<p>{{ produto.proprietario.descricao }}</p>
					<p>
						<span class="blue-color">Lattes: </span>
						{{ produto.proprietario.lattes }}
					</p>
					<p>
						<span class="blue-color">E-mail: </span>
						{{ produto.proprietario.email }}
					</p>
				</aside>
			</main>
		</v-container>
	</div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';
import { Produto } from '@/models/produto';
import Slider from '@/views/home-page/slider/Slider.vue'

@Component({
	components: {
		Slider
	},
})
export default class ProdutoDetalhe extends Vue {
	produto: Produto = null;

	created() {
		this.produto = this.$route.meta.produto;
	}

	get imageUrl() {
		return `${process.env.VUE_APP_URL_API}/files`;
	}

	get imageAutor() {
		return `${this.imageUrl}/${this.produto.proprietario.foto}`;
	}
}
</script>

<style lang="scss" scoped>
@import '~vuetify/src/styles/settings/_variables';

main {
	margin-top: 10px;
}

%font,
.font {
	font-family: roboto slab !important;
	font-weight: 300 !important;
	font-size: 1.2rem;
}

.grid {
	display: grid;
	grid-template-columns: 70% 26%;
	justify-content: space-between;
}

.blue-color {
	color: rgb(92, 198, 208);
	@extend %font;
}

.blue-color-title {
	font-family: roboto slab !important;
	font-weight: 300 !important;
	font-size: 1.5rem;
	color: rgb(92, 198, 208);
}

.texto {
	text-align: justify;
	line-height: 1.62;
	word-break: break-word;
	@extend %font;
}

.produto-titulo {
	font-size: 1.7em;
}

.publicacao {
	margin-top: 20px;
	grid-row: 2 / 4;
}

.autores {
	margin-top: 20px;
}

.sobre {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

main {
	align-items: flex-start;
}

div .container {
	margin-top: 25px;
}

@media #{map-get($display-breakpoints, 'lg-and-up')} {
	div .container {
		max-width: 1185px;
	}
}

@media #{map-get($display-breakpoints, 'md-and-down')} {
	.grid {
		display: grid !important;
		grid-template-columns: 100% !important;
	}

	.autores {
		order: 4 !important;
	}

	.sobre {
		order: 3 !important;
	}
}
</style>
