<template>
	<div class="Home">
		<div class="cards">
			<card
				v-for="produto of produtos"
				:key="produto.id"
				:produto="produto"
				class="card-item"
			>
			</card>
		</div>
	</div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';
import { ProdutoStore } from '@/store/produto.store';
import { AuthStore } from '@/store/auth.store';
import Card from './card/Card.vue'

@Component({
  components: {
		Card
	},
})
export default class Home extends Vue {
	created() {
		const params = new Map();
		params.set('page', 0);
		params.set('limit', 0);
		ProdutoStore.listar(Object.fromEntries(params));
	}

	get produtos() {
		return ProdutoStore.produtos;
	}

	get loading() {
		return ProdutoStore.carregando;
	}
}
</script>

<style lang="scss">
@import '~vuetify/src/styles/settings/_variables';

.cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-auto-flow: dense;
	gap: 30px;
	margin: 2rem 15rem 0 15rem;
}

@media #{map-get($display-breakpoints, 'lg-and-up')} {
	.cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-auto-flow: dense;
	gap: 30px;
	margin: 2rem 15rem 0 15rem;
}
}

@media #{map-get($display-breakpoints, 'md-and-down')} {
	.cards {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		grid-auto-flow: dense;
		gap: 30px;
		margin: 2rem 1rem 0 1rem;
	}
}

</style>
