<template>
  <div class="Listar">
    <v-card class="ma-2">
      <v-card-title>
        {{ config.listar }}
        <v-spacer></v-spacer>
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <span v-on="on">
              <v-btn fab small @click="atualizar" :disabled="carregando">
                <v-icon :class="carregando ? 'rotate' : ''">autorenew</v-icon>
              </v-btn>
            </span>
          </template>
          <span>{{carregando ? 'Atualizando' : 'Atualizar'}}</span>
        </v-tooltip>
        <cadastrar-editar
          :config="config"
          :pagination="pagination"
          :objeto="selecionado"
          :closeDialog="closeDialog"
          ref="dialog"
        ></cadastrar-editar>
      </v-card-title>
      <v-text-field
        class="ma-1"
        append-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
      <v-data-table
        :headers="headers"
        :items="itens"
        :server-items-length.sync="totalItens"
        :page.sync="pagination.page"
        :items-per-page.sync="pagination.limit"
        :footer-props="footer"
        :loading="carregando"
        @update:page="carregarItens()"
        @update:items-per-page="carregarItens()"
      >
        <template v-slot:item.acoes="{ item }">
          <v-menu
            bottom
            origin="center center"
            transition="scale-transition"
            offset-y
          >
            <template v-slot:activator="{ on, value }">
              <v-btn class="elevation-0" v-on="on" icon>
                <v-icon :class="value ? 'more' : ''">more_horiz</v-icon>
              </v-btn>
            </template>

            <v-list>
              <v-list-item @click="selecionarItem(item)">
                <v-list-item-title>Editar</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { GenericModel } from "@/models/genericModel";
import { recursosGenericos } from "../base.config";
import GenericService from "@/services/generic.service";
import Page from "@/models/Page";
import Pagination from "@/models/Pagination";
import EntidadeBaseSimples from "@/models/entidadeBaseSimples";
import GenericConfig from "@/models/genericConfig";
import CadastrarEditar from "../cadastrar-editar/CadastrarEditar.vue";
import * as genericStore from "../crudGenerico.store";

@Component({
  components: {
    CadastrarEditar
  },
})
export default class Listar extends Vue {
  @Prop() config: GenericConfig;
  pagination: Pagination = Pagination.build();
  selecionado: EntidadeBaseSimples = null;
  footer = {
    itemsLength: "Itens por página",
    "items-per-page-options": [ -1, 5, 10, 15],
    "items-per-page-all-text": "Todos",
  };
  headers = [
    { text: "Nome", value: "nome" },
    { text: "Ações", value: "acoes" },
  ];
  filtros: any = {
    nome: "",
    ativo: true,
  };
  genericPage: Page<EntidadeBaseSimples> = Page.build();

  constructor() {
    super();
    const store = this.$store;
    // register a new module only if doesn't exist
    // https://codeburst.io/dynamic-modules-with-vuex-and-vue-b9c481ca792
    if (!(store && store.state && store.state[this.config.store])) {
      store.registerModule(this.config.store, genericStore.newInstance());
    }
  }

  created() {
    this.carregarItens();
  }

  selecionarItem(item: EntidadeBaseSimples) {
    this.selecionado = item;
    (this.$refs.dialog as CadastrarEditar).open=true;
  }

  carregarItens() {
    let options = { config: this.config, pagination: this.pagination };
    this.$store.dispatch(`${this.config.store}/listarGenerico`, {
      ...options,
      ...this.filtros,
    });
  }

  closeDialog(){
    this.selecionado = null;
  }

  atualizar() {
    let options = { config: this.config, pagination: this.pagination };
    this.$store.dispatch(`${this.config.store}/atualizar`, { ...options });
  }

  get itens(): GenericModel[] {
    return this.$store.getters[`${this.config.store}/itens`];
  }

  get totalItens(): number {
    return this.$store.getters[`${this.config.store}/totalItens`];
  }

  get carregando(): boolean {
    return this.$store.getters[`${this.config.store}/loadingList`];
  }
}
</script>

<style lang="scss">
.more {
  transform: rotate(90deg);
}

.rotate {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
</style>
