<template>
  <v-app>
    <navbar></navbar>
    <v-main>
      <router-view :key="$route.name"></router-view>
    </v-main>

    <!-- Snack para PWA -->

    <v-snackbar
      v-model="snackWithButtons"
      :timeout="timeout"
      bottom
      left
      class="snack"
    >
      {{ snackWithBtnText }}
      <v-spacer />
      <v-btn dark text color="#00f500" @click.native="refreshApp">
        {{ snackBtnText }}
      </v-btn>
      <v-btn icon @click="snackWithButtons = false">
        <v-icon>close</v-icon>
      </v-btn>
    </v-snackbar>

    <!-- Snack Global -->

    <v-snackbar
      v-model="snack"
      :timeout="5000"
      :color="snackColor"
      content-class="snack"
    >
      <span>
        {{ snackMsg }}
      </span>
    </v-snackbar>
  </v-app>
</template>

<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";
import EventBus from './_helpers/eventBus';
import Navbar from './components/Navbar.vue'

@Component({
  components: {
    Navbar
  },
})
export default class extends Vue {
  name: "App";
  refreshing: boolean = false;
  registration: any = null;
  snackBtnText: string = "";
  snackWithBtnText: string = "";
  snackWithButtons: boolean = false;
  timeout: number = -1;
  snackMsg: string = '';
  snackColor: string = '';
  snack: boolean = false;

  created() {
    // Listen for swUpdated event and display refresh snackbar as required.
    document.addEventListener("swUpdated", this.showRefreshUI, { once: true });
    // Refresh all open app tabs when a new service worker is installed.
    navigator.serviceWorker.addEventListener("controllerchange", () => {
      if (this.refreshing) return;
      this.refreshing = true;
      window.location.reload();
    });

    EventBus.$on('snack', this.snackHandler)
  }

  showRefreshUI(e: any) {
    // Display a snackbar inviting the user to refresh/reload the app due
    // to an app update being available.
    // The new service worker is installed, but not yet active.
    // Store the ServiceWorkerRegistration instance for later use.
    this.registration = e.detail;
    this.snackBtnText = "Refresh";
    this.snackWithBtnText = "New version available!";
    this.snackWithButtons = true;
  }

  refreshApp() {
    this.snackWithButtons = false;
    // Protect against missing registration.waiting.
    if (!this.registration || !this.registration.waiting) {
      return;
    }
    this.registration.waiting.postMessage("skipWaiting");
  }

  snackHandler(data: {msg: string, color?: string}){
    this.snackMsg = data.msg;
    data.color ? this.snackColor = data.color : this.snackColor = '';
    this.snack = true;
  }
}
</script>

<style lang="scss">
$color-pack: false;

.v-snack__content {
  display: flex;
  justify-content: center !important;
}
</style>
